<html>

<head>
  <style>
  *, html {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    padding-top: 20px;
  }
  </style>
</head>

<body>
  <div class="header">
    <h1> {{ h }} </h1>
  </div>
</body>

</html>